/[!.]*

/.angular-config.json
/.aptitude/config
/.cache/
/.cargo/
/.cmake/
/.cpan/
/.cpanm/
/.dbus/session-bus
/.designer/
/.dmrc
/.docker/
/.eclipse/
/.FreeCAD/
/.gdbinit
/.gimp-*/
/.git-credentials
/.gitk
/.gnome/
/.gnome2/
/.gnupg/
/.gsutil/
/.gtk-bookmarks
/.histfile
/.ICEauthority
/.java/
/.jfrog/
/.kube/
/.keydb-*-motd
/.lesshst
/.local/
/.mitmproxy/
/.mono/
/.mozilla/
/.netrc
/.npm/
/.npmrc
/.oh-my-zsh/
/.oracle_jre_usage/
/.perlbrew/
/.pylint.d/
/.pki/
/.*.pre-oh-my-zsh
/.PyCharm*/
/.pyenv/
/.qdirstat.cache.gz
/.repo_.gitconfig.json
/.repoconfig/
/.rnd
/.rpmdb/
/.sane/
/.slocdata/
/.Slic3r/
/.ssr/
/.sudo_as_admin_successful
/.swt/
/.terminfo/
/.texlive2020/texmf-var/luatex-cache
/.thumbnails/
/.thunderbird/
/.tmux/
/.tox/
/.tsh/
/.viminfo
/.vscode/
/.wget-hsts
/.Xauthority
/.xfce4-session.verbose-log
/.xfce4-session.verbose-log.last
/.Xilinx/
/.xsession-errors
/.xsession-errors.old
/.yarnrc
/.zcompdump*
/.zshrc.zni

*~
.*history
.*_hist
.*.last
.*.local
.*.lock
.*.log
.*-log
.*.pid
