*
!.*
!.config/**
.ICEauthority
.Xauthority
.bash_history
.lesshst
.oh-my-zsh/
.pyenv/
.python_history
.*.pre-oh-my-zsh
.wget-hsts
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xsession-errors
.xsession-errors.old
.zcompdump*
.zsh_history
