/alacritty/
/autostart/
/chromium/
/coc/
/Code/
/dconf/
/enchant/
/FreeCAD/
/GIMP/
/gtk-2.0/
/gtk-3.0/
/inkscape/
/JetBrains/
/kdeconnect/
/keepassxc/
/kicad/
/libreoffice/
/matplotlib/
/menus/
/Mousepad/
/mpv/
/procps/
/ptpython/
/pulse/
/qpdfview/
/ReText project/
/ristretto/
/Thunar/
/vlc/
/wireshark/
/xarchiver/
/xfce4/
/Yubico/

/QtProject.conf
/kde*
/mimeapps.list
/pavucontrol.ini
/user-dirs.*
