/Arduino IDE/
/arduino-ide/
/autostart/
/binwalk/
/chromium/
/coc/
/Code/
/dconf/
/enchant/
/filezilla/
/FreeCAD/
/gedit/
/GIMP/
/gtk-2.0/
/gtk-3.0/
/htop/
/inkscape/
/JetBrains/
/jgit/
/kdeconnect/
/keepassxc/
/kicad/
/libreoffice/
/matplotlib/
/menus/
/Mousepad/
/mpv/
/nemo/
/octave/
/pluma/
/procps/
/ptpython/
/pulse/
/QDirStat/
/qpdfview/
/Qt/
/qt-box-editor/
/QtProject/
/quodlibet/
/ReText project/
/ristretto/
/spicy/
/Thunar/
/vlc/
/wireshark/
/xarchiver/
/xfce4/
/Yubico/

/configstore/update-notifier-npm.json
/glade.conf
/QtProject.conf
/kde*
/markdown-extensions.txt
/mimeapps.list
/pavucontrol.ini
/screenkey.json
/Trolltech.conf
/user-dirs.*
/*/history
